---
Language: Cpp
# Based on Espressif's general style for ESP-IDF
BasedOnStyle: LLVM
# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: true
IndentPPDirectives: None

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

# Alignments
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Parameters and arguments
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Statements
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Line breaks
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon

# Pointers and references
PointerAlignment: Right
DerivePointerAlignment: false

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<(esp|driver|freertos)/'
    Priority:        1
  - Regex:           '^<(sys|arpa|net|netinet)/'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        3
  - Regex:           '^<.*>'
    Priority:        4
  - Regex:           '.*'
    Priority:        5

# Continuations and line wrapping
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 150
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000

# Spaces around comments
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1

# Allow comments at the end of preprocessor lines
CommentPragmas: '^ IWYU pragma:'
